body{
	font-family: Yu Gothic UI;
	background-color: aliceblue;
}

#sidemenu{
	width: 100px;
	border: #004085 2px double;
}

#orderlist{
	border: #004085 2px solid;
	padding: 5px;
}

.productBox{
	border: #004085 2px double;
}